td {
    border: 4px rgb(56, 56, 56) solid;
    border-top-color: rgb(187, 187, 187);
    border-left-color: rgb(187, 187, 187);
    background-color: rgb(150, 150, 150);
    padding: 5px;
    border-style: solid;
    transition: background-color 0.2s ease;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 2px;
    border-radius: 2px;
}

table, tr {
    margin: auto;
}

td:hover {
    background-color: rgb(133, 123, 123);
}

.hidden {
    font-size: 0;
}

.shown {
    background-color: rgb(211, 209, 209);
}

:not(.marked) .hidden img {
    width: 0px
}

.mine {
    width: 15px;
}

.marked img.flag {
    height: 20px;
    width: 10px;
}

.bar {
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
}

.smiley {
    border: none;
    background-color: white;
}

.smiley:hover {
    cursor: pointer;
}

.timer {
    display: inline-block;
    margin-left: 20px;
}

.mines-left {
    margin-right: 20px;
    display: inline-block;
    text-shadow: 1px 1px 2px pink;
}